<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Jugador</title>
</head>
<body>
    <h1>Nuevo Jugador</h1>
    <form action="#" method="post" th:action="@{/nuevo/submit}" th:object="${jugadorForm}">
        <label>Nombre: <input type="text" id="nombre" th:field="*{nombre}" ></label><br/>
        <label>Edad: <input type="text" id="edad" th:field="*{edad}"></label>
        <label>Equipo
            <select name="equipo" th:field="*{equipo}">
                <option th:each="equipo:${listaEquipos}"
                th:value="${equipo.id}" th:text="${equipo.nombre}">

                </option>
            </select>
        </label><br/>
        <input type="submit" value="enviar"/>
    </form>
</body>
</html>