<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
      <select id="select" onChange="changeEquipo();">
        <option value="0">Todos</option>
        <option th:each="equipo: ${listaEquipos}"
                th:value="${equipo.id}" th:text="${equipo.nombre}"
                th:selected="${equipo.nombre} == ${equipoSeleccionado} ? true : false">
                new Equipo(2L,"Barça")
        </option>
      </select>
      <table>
        <thead>
              <th>Nombre</th><th>Edad</th><th>Borrar</th>
        </thead>
        <tbody>
          <tr th:each="jugador : ${listaJugadores}">
            <td th:text="${jugador.nombre}">Nombre</td>
            <td th:text="${jugador.edad}">Edad</td>
            <td><a th:href="@{/borrar/{nombre}(nombre=${jugador.nombre})}">Borrar</a></td>        		
          </tr>
        </tbody>
      </table>
      <a href="/nuevo">Nuevo jugador</a><br/>
      <a href="/jugadoresMenores/">Jugadores Menores</a><br/>
<!--------------------------------------------->
      <script>
        function changeEquipo(){
            if (document.getElementById("select").value == 0)
                window.location.href = "/";
            else 
              window.location.href = "/porEquipos/"+
                             document.getElementById("select").value;
        }
      </script>
<!--------------------------------------------->
    </body>
</html>